html, body {
    width:100%;
    height:100%;

    display:flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#button-row-container {
    margin-top: auto;
    width:500px;
    height:100px;
    background-color: red;
    min-height:100px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-container {
    background-color: blue;
    height:100%;
    border: 1px solid gray;

    min-width:1fr;

    display:flex;
    justify-content: center;
    align-items: center;

}

#second-input-container {
    flex-direction: column;
    justify-content: space-between;
}

#black-button {
    margin-top:10px;
}

#rainbow-color-button {
    margin-bottom:10px;
}

#grid-size-input {
    width: 2rem;
}

#grid-size-submit {
    margin-left:10px;
}

#grid-size-warning {
    margin-top:3rem;
    position:absolute;
    color: red;
    white-space: nowrap;
}


.active {
    font-size:20px;
}

#grid-container {
    display:grid;
    width:500px;
    height:500px;
    border:1px solid grey;
    margin-bottom:auto;
}

.item {
    border: 1px solid grey;
}