html, body {
    width:100%;
    height:100%;

    display:flex;
    align-items: center;
    flex-direction: column;
}

#button-row-container {
    margin-top: auto;
    width:500px;
    height:100px;
    background-color: red;
    min-height:100px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.button-container {
    background-color: blue;
    height:100%;
    border: 1px solid gray;

    min-width:1fr;

    display:flex;
    justify-content: center;
    align-items: center;
}

.active {
    font-size:20px;
}

#grid-container {
    display:grid;
    width:500px;
    height:500px;
    border:1px solid grey;
    margin-bottom:auto;
}

.item {
    border: 1px solid grey;
}